<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style rel="stylesheet" link="static\styles.css"></style>
    <title>Only The Available Products</title>
</head>
<body>
<header>
    <h1>Cheapest First</h1><br>
    <a href="/">HOMEPAGE</a>
    <a href="/only-available">ONLY AVAILABLE</a>
    <a href="/contains-nike">CONTAINS NIKE</a>
    <a href="/average-stock">AVERAGE STOCK</a>
    <a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a>
</header>
<form action="/" method="post">
    <label for="searchBar">Search for:</label><br>
    <input id="searchBar" name="searchBar">
    <button>Search</button>
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of Stock</th>
    </tr>
    <tr th:each="shopItem : ${itemsSortedByIncreasingPrice}">
        <td th:text="${shopItem.name}"></td>
        <td th:text="${shopItem.description}"></td>
        <td th:text="${shopItem.price}"></td>
        <td th:text="${shopItem.quantityOfStock}"></td>
    </tr>
</table>
</body>
</html>